{% extends "base.html" %}

{% block title %}
Edit Student
{% endblock %}

{% block content %}

<h2>Edit Student</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <label>Student ID:</label><br>
        {{ form.student_id }}
    </p>

    <p>
        <label>First Name:</label><br>
        {{ form.first_name }}
    </p>

    <p>
        <label>Last Name:</label><br>
        {{ form.last_name }}
    </p>

    <p>
        <label>Email:</label><br>
        {{ form.email }}
    </p>

    <p>
        <label>Area:</label><br>
        {{ form.area }}
    </p>

    <p>
        <label>Profile Picture:</label><br>
        {{ form.profile_picture }}
    </p>

    {% if student.profile_picture %}
        <p>Current Picture:</p>
        <img src="{{ student.profile_picture.url }}"
             alt="Profile Picture"
             width="180"
             style="border-radius:10px; margin-bottom:20px;">
    {% endif %}

    <button type="submit" class="button">
        Save Changes
    </button>

    <a href="{% url 'student_detail' student.id %}" class="button">
        Cancel
    </a>

</form>

{% endblock %}