{% extends "base.html" %}

{% block title %}
Student Profile
{% endblock %}

{% block content %}

<h2>Student Profile</h2>

{% if student.profile_picture %}
    <img src="{{ student.profile_picture.url }}"
         alt="Profile Picture"
         width="180"
         style="border-radius:10px; margin-bottom:20px;">
{% else %}
    <p><strong>No profile picture uploaded.</strong></p>
{% endif %}

<p><strong>Student ID:</strong> {{ student.student_id }}</p>

<p><strong>First Name:</strong> {{ student.first_name }}</p>

<p><strong>Last Name:</strong> {{ student.last_name }}</p>

<p><strong>Email:</strong> {{ student.email }}</p>

<p><strong>Area:</strong> {{ student.area }}</p>

<br>

<a href="{% url 'edit_student' student.id %}" class="button">
    ✏ Edit Student
</a>

<a href="{% url 'delete_student' student.id %}" class="button">
    Delete Student
</a>

<a href="{% url 'student_list' %}" class="button">
    ← Back to Students
</a>

{% endblock %}